@import "tailwindcss";

@theme {
    --color-brand: #FF5C00;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #ff5e0082;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #FF5C00;
}